@font-face {
  font-family: "Monocraft";
  src: url("assets/fonts/Monocraft.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Monocraft";
  src: url("assets/fonts/Monocraft-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Monocraft";
  src: url("assets/fonts/Monocraft-ExtraLight.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Redaction";
  src: url("assets/fonts/Redaction50-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
